.recipe_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #00c2af;
    border-radius: 20px;
}
.recipe_holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image_wrapper {
    width: 100%;
    flex: 1;
}

.image_wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.recipe_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
    text-align: center;
}

.recipe_info p{
    margin: 0px;
}

.recipe_infoName{
    width: 100%;
    color: white;
}

.recipe_infoName span {
    color: #f9ca24;
    border-bottom: 2px solid #f9ca24;
}

.recipe_info_details{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.recipe_info_details p{
    font-size: 14px;
}

.recipe_info_prepCook {
    background-color: #f9ca24;
    padding: 5px;
    border-radius: 10px;
    color: #403f3f;
}

.recipe_info_ratingCalories{
    background-color: #f9ca24;
    padding: 5px;
    border-radius: 10px;
    color: #403f3f;
}

/*One Recipe details CSS start*/

.oneRecipe_holder{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.oneRecipe_wrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oneRecipe_imgInfo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.oneRecipe_imgInfo img{
    width: 100%;
    max-width: 400px;
}

.oneRecipe_info{
    width: 100%;
    max-width: 500px;
    border: 1px solid black;
}

.oneRecipe_ingredients_instructions{
    width: 100%;
    display: flex;
    gap: 30px;
}