.navigation_wrapper {
    width: 100%;
    background-color: #00c2af;
    background: linear-gradient(90deg, rgba(90, 241, 228) 0%, rgba(0,194,175,1) 40%, rgba(4,124,113,1) 100%);
    display: flex;
    justify-content: center;
}

.navigation_holder {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 5px;
}

.navigation_site_logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;

}

.navigation_site_logo p {
    font-size: 24px;
}

.navigation_holder img {
    width: 100%;
    max-width: 60px;
}

.navigation_links {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.navigation_links a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navigation_login_form {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navigation_login_form input {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    padding: 2px;
}

.navigation_login_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation_login_form button {
    width: 100%;
    max-width: 50px;
    height: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #f9ca24;
}